<div class="jumbotron">
  <div class="container">
    <div class="content">
      <h3>JIEFU 电视扬声器</h3>
      <h3>YDP20110-2T</h3>
      <h2>惊天动地  燕语莺声</h2>
    </div>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 category">
      <div class="thumbnail">
        <%= image_tag("category-a.png", size: "384x213", alt: "category TV speakers") %>
        <div class="caption">
          <h3 class="text-center">电视扬声器</h3>
          <p>与国际、国内电视制作厂商15年的合作使得杰夫电视扬声器广泛应用于主流平板电视中</p>
          <p><a href="#">了解更多产品</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 category">
      <div class="thumbnail">
        <%= image_tag("category-a.png", size: "384x213", alt: "category TV speakers") %>
        <div class="caption">
          <h3 class="text-center">电视扬声器</h3>
          <p>与国际、国内电视制作厂商15年的合作使得杰夫电视扬声器广泛应用于主流平板电视中</p>
          <p><a href="#">了解更多产品</a></p>
        </div>
      </div>
   </div>
    <div class="col-md-4 category">
      <div class="thumbnail">
        <%= image_tag("category-a.png", size: "384x213", alt: "category TV speakers") %>
        <div class="caption">
          <h3 class="text-center">电视扬声器</h3>
          <p>与国际、国内电视制作厂商15年的合作使得杰夫电视扬声器广泛应用于主流平板电视中</p>
          <p><a href="#">了解更多产品</a></p>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->

<div class="row">
  <div class="col-md-6 recommend-banner">
    <%= image_tag("home-A", alt: "banner") %>
  </div>
  <div class="col-md-6 recommend-content">
    <h3>YDP20110-2</h3>
    <h3>婉转悠扬，雷霆万钧</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6 recommend-content-B">
    <h3>YDP20110-2</h3>
    <h3>婉转悠扬，雷霆万钧</h3>
  </div>
  <div class="col-md-6 recommend-banner">
    <%= image_tag("home-A", alt: "banner") %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 home-news">
    <div class="container">
      <h3>最新新闻</h3>
      <div class="row news-list">
        <div class="col-md-12">
          <a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a>
        </div>
      </div>
      <div class="row news-list">
        <div class="col-md-12">
          <a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a>
        </div>
      </div>
      <div class="row news-list">
        <div class="col-md-12">
          <a href="#"><strong>2016年6月5日</strong> 杰夫电声与吉林大学合作开展在职本科教育学历班</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="maps"></div>



