<div class="product-banner">
	<div class="container">
    <div class="content">
      <h2>电视扬声器</h2>
      <p>高效节能的JIEFU电视扬声器可减少功耗，减轻重量并提供同样出色的动态表现与声学性能</p>
    </div>
  </div>
</div>

<div class="container product-list">
	<div class="row">
	  <div class="col-md-6">
	  	<%= image_tag('product', width: '480', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>
	  </div>
	  <div class="col-md-6">
	  	<%= image_tag('product', width: '480', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6">
	  	<%= image_tag('product', width: '480', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>
	  </div>
	  <div class="col-md-6">
	  	<%= image_tag('product', width: '480', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6">
	  	<%= image_tag('product', width: '480', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>
	  </div>
	  <div class="col-md-6">
	  	<%= image_tag('product', width: '480', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6">
	  	<%= image_tag('product', width: '480', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>
	  </div>
	  <div class="col-md-6">
	  	<%= image_tag('product', width: '480', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>
	  </div>
	</div>
	<nav>
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>
</div>